.textbox1{
	position: absolute;
	top: 3%;
	left: 5%;
	background-color: red;
	height: 5%;
	width: 90%;
}
.textbox2{
	position: absolute;
	top: 10%;
	left: 40%;
	background-color: skyblue;
	height: 5%;
	width: 20%;
}
.textbox3{
	position: absolute;
	top: 18%;
	left: 40%;
	background-color: skyblue;
	height: 5%;
	width: 20%;
}
.button1{
	position: absolute;
	top: 27.5%;
	left: 10%;
	background-color: green;
	height: 12.5%;
	width: 35%;
}
.button2{
	position: absolute;
	top: 45%;
	left: 10%;
	background-color: green;
	height: 12.5%;
	width: 35%;
}
.button3{
	position: absolute;
	top: 62.5%;
	left: 10%;
	background-color: green;
	height: 12.5%;
	width: 35%;
}
.button4{
	position: absolute;
	top: 84%;
	left: 17.5%;
	background-color: yellowgreen;
	height: 8%;
	width: 20%;
}
.button5{
	position: absolute;
	top: 27.5%;
	left: 55%;
	background-color: green;
	height: 12.5%;
	width: 35%;
}
.button6{
	position: absolute;
	top: 45%;
	left: 55%;
	background-color: green;
	height: 12.5%;
	width: 35%;
}
.button7{
	position: absolute;
	top: 62.5%;
	left: 55%;
	background-color: green;
	height: 12.5%;
	width: 35%;
}
.button8{
	position: absolute;
	top: 84%;
	left: 62.5%;
	background-color: yellowgreen;
	height: 8%;
	width: 20%;
}