@font-face {
    font-family: 'myfont';
    src: url('../makinas4/Makinas-4-Flat.otf') format('opentype'),
  }
.whitebackground{
    position: absolute;
	top: 11%;
	left: 16%;
	background-color: white;
	height: 78%;
	width: 67%;
    
}
.genrelabel1{
    position: absolute;
	top: 15%;
	left: 22%;
	background-color: white;
	height: 5%;
    font-size: 30px;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s forwards;
}
.genrelabel2{
    position: absolute;
	top: 27%;
	left: 22%;
	background-color: white;
	height: 5%;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s forwards;
}
.genrelabel3{
    position: absolute;
	top: 39%;
	left: 22%;
	background-color: white;
	height: 5%;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s forwards;
}
.genrelabel4{
    position: absolute;
	top: 50%;
	left: 22%;
	background-color: white;
	height: 5%;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s forwards;
}
.genrelabel5{
    position: absolute;
	top: 62%;
	left: 22%;
	background-color: white;
	height: 5%;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s forwards;
}
.genrelabel6{
    position: absolute;
	top: 62%;
	left: 22%;
	background-color: white;
	height: 5%;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s forwards;
}
.finishButton{
    position: absolute;
	top: 80%;
	left: 22%;
	background-color: wheat;
	height: 5%;
	width: 11%;
    cursor: pointer;
    font-family:"myfont",sans-serif;
    border-radius: 30px;
    overflow: hidden;
	z-index: 1;
}
.finishButton::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 172, 217);
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}
.finishButton:hover::before{
	transform: translate(0);
}
.finishButton:hover{
    color: #fff;
}
.againButton{
    position: absolute;
	top: 80%;
	left: 44%;
	background-color: wheat;
	height: 5%;
	width: 11%;
    cursor: pointer;
    font-family:"myfont",sans-serif;
    border-radius: 30px;
    overflow: hidden;
	z-index: 1;
}
.againButton::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 172, 217);
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}
.againButton:hover::before{
	transform: translate(0);
}
.againButton:hover{
    color: #fff;
}
.snsButton{
    position: absolute;
	top: 80%;
	right: 22%;
	background-color: wheat;
	height: 5%;
	width: 11%;
    cursor: pointer;
    font-family:"myfont",sans-serif;
    border-radius: 30px;
    overflow: hidden;
	z-index: 1;
}
.snsButton::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 172, 217);
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}
.snsButton:hover::before{
	transform: translate(0);
}
.snsButton:hover{
    color: #fff;
}
.totaltext1{
    position: absolute;
	top: 17%;
	left: 50%;
	background-color: white;
	height: 10%;
	width: 27%;
    font-size: 50px;
}
.totaltext2{
    position: absolute;
	top: 36%;
	left: 45%;
    opacity: 0;
    transform: translateY(100%);
    animation-delay: 3s;
    animation: fadeInFromBottom 1s forwards;
	background-color: white;
	height: 10%;
	width: 27%;
    font-size: 100px;
    text-align: center;
}
@keyframes fadeInFromBottom {
    to {
      opacity: 1; /* アニメーション終了時に完全に表示 */
      transform: translateY(0); /* アニメーション終了時の位置 */
    }
  }
#total{
    animation-delay: 1s;
}
div{
    margin: 0 auto;
}
p{
    font-size: 30px;
}

html,body{
	height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:1;/*描画を背景以上ボタン以下に*/
	width: 100%;
	height: 100%;
}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	width:100%;
	height: 100%;
}