.title {
	position: absolute;
	top: 21%;
	left: 28%;
	background-color: white;
	height: 21%;
	width: 42%;
	font-size: 36px;
	text-align: center;
	margin: 0 auto;
	border-radius: 30px;
	
}

.startButton {
	position: absolute;
	top: 50%;
	left: 39%;
	background-color: white;
	height: 12%;
	width: 21%;
	font-size: 24px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	border-radius: 30px;
}

.startButton::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 172, 217);
	transform: translateX(-100%);
	transition: all .3s;
}
.startButton:hover::before{
	transform: translate(0);
}
.startButton:hover {
	color: #fff;
}

.studyButton {
	position: absolute;
	top: 68%;
	left: 39%;
	background-color: white;
	height: 12%;
	width: 21%;
	font-size: 24px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	border-radius: 30px;
}

.studyButton::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 172, 217);
	transform: translateX(-100%);
	transition: all .3s;
}

.studyButton:hover::before{
	transform: translate(0);
}
.studyButton:hover {
	color: #fff;
}

p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}