.title {
	position: absolute;
	top: 21%;
	left: 28%;
	background-color: white;
	height: 21%;
	width: 42%;
	font-size: 48px;
	text-align: center;
	margin: 0 auto;
	border: 2px solid #000;
}

.startButton {
	position: absolute;
	top: 50%;
	left: 39%;
	background-color: white;
	height: 12%;
	width: 21%;
	font-size: 48px;
	text-align: center;
}

.startButton:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.studyButton {
	position: absolute;
	top: 68%;
	left: 39%;
	background-color: white;
	height: 12%;
	width: 21%;
	font-size: 48px;
	text-align: center;
}

.studyButton:hover {
	opacity: 0.5;
	transition: 0.3s;
}

p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}