.answer_correct {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #e1e1e1;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
	z-index: 2;
}

.answer_correct .maru {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 10px red;
}

.answer_incorrect {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #e1e1e1;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
	z-index: 2;
}

.answer_incorrect .batu {
	position: relative;
	width: 120px;
	height: 10px;
	background-color: blue;
	transform: rotate(45deg);
}

.answer_incorrect .batu::before {
	position: absolute;
	width: 120px;
	height: 10px;
	background-color: blue;
	content: "";
	transform: rotate(-90deg);
}

.active_answer {
	visibility: visible;
	opacity: 0.8;
}

.question {
	position: absolute;
	top: 15%;
	left: 11%;
	background-color: white;
	height: 32%;
	width: 77%;
	border: 2px solid #000;
	font-size: 3em;
}

.question_number {
	position: absolute;
	top: 4%;
	left: 6%;
	background-color: white;
	height: 8%;
	width: 15%;
	border: 2px solid #000;
	font-size: 32px;
	text-align: center;
}

.button1 {
	position: absolute;
	top: 50%;
	left: 11%;
	background-color: white;
	height: 8%;
	width: 77%;
	border: 2px solid #000;
}

.button1:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.button2 {
	position: absolute;
	top: 60%;
	left: 11%;
	background-color: white;
	height: 8%;
	width: 77%;
	border: 2px solid #000;
}

.button2:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.button3 {
	position: absolute;
	top: 70%;
	left: 11%;
	background-color: white;
	height: 8%;
	width: 77%;
	border: 2px solid #000;
}

.button3:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.button4 {
	position: absolute;
	top: 80%;
	left: 11%;
	background-color: white;
	height: 8%;
	width: 77%;
	border: 2px solid #000;
}

.button4:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.btn {
	font-size: 34px;
}

.textEl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 80%;
}

.explanation {
	position: absolute;
	top: 50%;
	left: 11%;
	background-color: white;
	height: 42%;
	width: 77%;
	border: 2px solid #000;
	font-size: 30px;
	display: none;
}

.quiz-button {
	cursor: pointer;
}